[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jinho Lim (seroto7)
[access "refs/for/refs/*"]
	read = group user/Jinho Lim (seroto7)
	push = group user/Jinho Lim (seroto7)
	label-Code-Review = -2..+2 group user/Jinho Lim (seroto7)
	label-Verified = -1..+1 group user/Jinho Lim (seroto7)
	rebase = group user/Jinho Lim (seroto7)
	removeReviewer = group user/Jinho Lim (seroto7)
	submit = group user/Jinho Lim (seroto7)
[access "refs/heads/*"]
	read = group user/Jinho Lim (seroto7)
	create = group user/Jinho Lim (seroto7)
	push = +force group user/Jinho Lim (seroto7)
	pushMerge = group user/Jinho Lim (seroto7)
[access "refs/tags/*"]
	push = +force group user/Jinho Lim (seroto7)
	pushTag = group user/Jinho Lim (seroto7)
	pushSignedTag = group user/Jinho Lim (seroto7)
[project]
	description = Project HIDRA 2014
[receive]
	requireSignedOffBy = true
[submit]
	mergeContent = false
