[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/seroto7
[access "refs/for/refs/*"]
	read = group user/seroto7
	push = group user/seroto7
	label-Code-Review = -2..+2 group user/seroto7
	label-Verified = -1..+1 group user/seroto7
	rebase = group user/seroto7
	removeReviewer = group user/seroto7
	submit = group user/seroto7
[access "refs/heads/*"]
	read = group user/seroto7
	create = group user/seroto7
	push = +force group user/seroto7
	pushMerge = group user/seroto7
[access "refs/tags/*"]
	push = +force group user/seroto7
	pushTag = group user/seroto7
	pushSignedTag = group user/seroto7
